<style>
body{
background-color:#9fe6c2;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
p {
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
</style>